/* Proyecst pages Edit */
input {
    width: 100%;
}

.edit{
    width: 25%;
}

.editable-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-proyect {
    width: 30%;
    border-radius: 20px;
}

.btn-delete {
    height: 10%;
}

.description-edit {
    width: 50%;
}

.proyect-profile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: #989898;
    flex-wrap: wrap;
}

.proyect-profile div {
    margin: .5rem;
}

.proyect-link {
    margin: .5rem;
}

.proyect-link img {
    width: 100%;
    margin: .5rem;
}