* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*  */
}

body {
    background: url('../Assets/fondo.gif');
    background-blend-mode: multiply, multiply;
}

/* Home */
.home-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    width: 100%;
}

.bg-container {

    background: url('../Assets/fondo.gif');
    background-blend-mode: multiply, multiply;
}

/* Login Page */
.btn-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(240, 248, 255);
    font-size: x-small;
}

.banner-login {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 30vh;
    background-color: black;
    border-bottom: solid 10px hsla(120, 97%, 14%, 0.4);
}

.img-homepage {
    display: flex;
    align-items: center;
    height: auto;
    width: 50%;
}

.img-homepage img {
    width: 25%;
    border-radius: 20px;
}

.title-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display SC', serif;
    color: rgb(143, 188, 143);
}

.title-portfolio h1 {
    font-size: 52px;
    font-weight: 800;
    color: rgb(94, 119, 94);
    margin: 1.5rem;
}

.title-portfolio h2 {
    font-size: 52px;
    font-weight: 800;
    color: rgb(94, 119, 94);
    margin: 0;
}

.title-portfolio h3 {
    font-size: 24px;
}

.description-profile {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center !important;
    flex-direction: column;
}

.contenedor-txt-description {
    display: flex;
    justify-self: center !important;
}

.description-txt-profile {
    width: 80%;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    font-size: 18px;
    font-weight: 400;
    color: rgb(152, 152, 152);
    line-height: 2rem;
    margin-bottom: 20px;
    margin-left: 10%;
}

sub {
    font-size: 22px;
}

.nombre-cnotenedor {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #333;
    font-family: tahoma;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 5rem;
}

.nombre span {
    width: 50%;
    font-size: 40px;
    position: absolute;
    top: 100px;
}

.message {
    background-color: rgb(4, 78, 38);
    color: rgb(152, 152, 152);
    display: block;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 200px;
    animation: openclose 10s ease-in-out infinite;
}

.word1,
.word2,
.word3 {
    font-family: tahoma;
}

@keyframes openclose {
    0% {
        transform: translateY(0);
        width: 0;
    }

    5% {
        width: 0;
    }

    15% {
        width: 70%;
    }

    30% {
        top: 0.2rem;
        width: 70%;
    }

    33% {
        top: 0.2rem;
        width: 0;
    }

    35% {
        top: 0.2rem;
        width: 0;
    }

    38% {
        top: -4.5rem;

    }

    48% {
        top: -4.5rem;
        width: 70%;
    }

    62% {
        top: -4.5rem;
        width: 70%;
    }

    66% {
        top: -4.5rem;
        width: 0;
        text-indent: 0;
    }

    71% {
        top: -9rem;
        width: 0;
        text-indent: 5px;
    }

    86% {
        top: -9rem;
        width: 70%;
    }

    95% {
        top: -9rem;
        width: 70%;
    }

    98% {
        top: -9rem;
        width: 0;
        text-indent: 5px;
    }

    100% {
        top: 0;
        width: 0;
        text-indent: 0;
    }
}

@media only screen and (max-width: 768px) {
    .banner-login {
        flex-direction: column;
    }

    .img-homepage {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .img-homepage img {
        width: 30%;
    }

    .title-portfolio h2 {
        margin-top: -50px;
        font-size: 28px;
    }

    .title-portfolio h1 {
        font-size: 36px;
    }

    .title-portfolio h3 {
        font-size: 18px;
    }

    .description-txt-profile {
        font-size: 14px;
    }

    sub {
        font-size: 18px;
    }

    .nombre-cnotenedor {
        font-size: 2rem;
    }

    .nombre span {
        font-size: 32px;
    }

    .nombre-cnotenedor {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .banner-login {
        flex-direction: column;
    }

    .img-homepage {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .img-homepage img {
        width: 50%;
    }

    .title-portfolio h2 {
        margin-top: -50px;
        font-size: 28px;
    }

    .title-portfolio h3 {
        font-size: 14px;
    }

    .title-portfolio h1 {
        margin: .5rem 0;
    }

    .description-txt-profile {
        font-size: 12px;
    }

    sub {
        font-size: 16px;
    }

    .nombre-cnotenedor {
        display: none;
    }
}

/* Confirm Email Page */
.confirm-email {
    height: 100vh;
    color: #989898;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.confirm-email h2 {
    margin: .5rem;
}

.confirm-txt {
    margin: 1.5rem;
}

.input-confirm {
    margin: 1.5rem;
}

.img-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2.5rem;
}

.img-logo img {
    width: 15%;
    border-radius: 20px;
}

/* Detail */
.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
    background-blend-mode: multiply, multiply;
}

/* Navbar */
.nombre-navbar {
    margin: 0 1rem;
    font-size: 2rem;
}

nav {
    background: url('../Assets/banner-fondo-portfolio.gif');
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: solid 10px hsla(120, 97%, 14%, 0.4);
}

ul {
    width: 50%;
    font-family: 'Playfair Display SC', serif;
    display: flex;
    gap: 72px;
    margin: 1.5rem;
    list-style: none;
}

ul li .navbar-dash {
    width: 100%;
    font-size: 1vw;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(158, 194, 241);
    padding: 10px;
    transition: 0.5s ease;
}

ul:hover li .navbar-dash {
    color: rgb(92, 146, 97);
}

ul:hover li .navbar-dash:not(:hover) {
    color: rgb(158, 194, 241);
    opacity: 0.3;
    filter: blur(1px);
}

.link {
    text-decoration: none;
    color: rgb(170, 155, 255);
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
    margin: 0 .5rem;
}

.link:hover {
    color: rgb(80, 124, 113);
}

.link-btn:hover {
    box-shadow: 10px 10px 10px 1px rgba(80, 124, 113, 0.7);
}

.nav-portfolio {
    font-family: 'Expletus Sans', cursive;
    width: 50%;
}

@media (min-width: 768px) and (max-width: 850px) {
    .nav-portfolio h1 {
        font-size: 25px;
    }

    ul li .navbar-dash {
        font-size: 20px;
        margin: 0 .2em;
    }

    ul {
        display: block;
    }
}

@media (max-width: 768px) {
    ul li .navbar-dash {
        font-size: 20px;
        padding: 0;
        margin: 0 .2em;
        width: 100%;
    }

    ul {
        justify-content: space-evenly;
        margin: 0;
    }

    .nav-portfolio {
        display: none;
    }

    .confirm-txt {
        text-align: center;
    }

    .img-logo img {
        width: 25%;
    }
}